 body{
    background-color:#A7C7E7;
    text-align:start;
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    }
    header{
        text-align: center;
        color: black;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size:30px;
        text-decoration: italic;
        text-decoration: underline;
    }
    .more-information{
        text-align: justify;
    }
    .about-us{
        text-align: justify;
    }
    .image-row{
        display:flex;
        justify-content: center;
        gap:40px;
        flex-wrap: wrap;
    }
    .image-row img{
        max-width:450px ;
        max-height: auto;
        align-items: center;
    }